.thumbnail {
width: 130px;
height: 130px;
border-width: 1px;
border-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.left {
  display: block;
  width: 40%;
}

body{
  background-color:#BAB2B5;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h6{
font-size: large;
font-weight: 600;
font-style: bold;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align:center;
padding-top: 50px;
}

.padding{
padding: 40px;
}

@media screen and (max-width: 992px) {
  .thumbnail-sm {
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-color: black;;
  }
}
  
  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
